@charset "UTF-8";
*{margin:0; padding:0;}

#main_box{
	width:330px;
	margin:auto;	
}

h1{
	text-align:center;
	font-size:20px;
	margin-top:10px;
	margin-bottom:10px;
}

.guestbook_box{
	margin:auto;
	width:330px;
	margin-top:30px;
	border:1px solid black;	
}

.type_content{
	min-height:100px;
	height:auto;
}



















